html, body {
    font-family: sans-serif, normal;
    margin: 2em 10em;
    background-color:darkslategrey
}

#input-box {
    width: 300px;
    height: 20px;
    background-color:aliceblue
}

.box {
    background-color: white; 
    margin: 100px auto 20px;
    padding: 30px 30px 20px;
    border-radius: 10px;
    
}